@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-forest: #1b3a1e;
  --color-olive: #5a7247;
  --color-sage: #eef2e6;
  --color-cream: #f7f9f3;
  --color-gold: #cda552;
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-sans);
}